{% extends "base.html" %}
{% block title %}
HOME
{% endblock title %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center bg-success text-white vh-100">
  <div class="text-center">
    <h1>Publish your passions, your way</h1>
    <div>
      <h2 class="small">Create your unique and beautiful blog easily.</h2>
    </div>
    <div>
      <a href="/cre/" class="btn btn-warning btn-lg" target="_blank">CREATE YOUR BLOG</a>
    </div>
  </div>
</div>
{% endblock body %}
